.noting__main-content{
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    width: 100vh;
    height: 100vh;

    p{
        text-align: center;
    }
}